# Ignore user-specific IDE settings
# Ignore user-specific IDE settings
.idea/

# Ignore log files
*.log

# Ignore build directories
/build/

**__pycache__/
*.pyc

AtlantaFoodFinder/__pycache__/__init__.cpython-312.pyc
AtlantaFoodFinder/__pycache__/admin.cpython-312.pyc
AtlantaFoodFinder/__pycache__/apps.cpython-312.pyc
AtlantaFoodFinder/__pycache__/models.cpython-312.pyc
AtlantaFoodFinder/__pycache__/urls.cpython-312.pyc
AtlantaFoodFinder/__pycache__/views.cpython-312.pyc
AtlantaFoodFinder/migrations/__pycache__/0001_initial.cpython-312.pyc
AtlantaFoodFinder/migrations/__pycache__/__init__.cpython-312.pyc
CS2340/__pycache__/__init__.cpython-312.pyc
CS2340/__pycache__/settings.cpython-312.pyc
CS2340/__pycache__/urls.cpython-312.pyc
CS2340/__pycache__/wsgi.cpython-312.pyc
